@import "../../scss/variables";
@import "../../scss/mixins";

.container {
  padding: 5vh 0;
  .titulo {
    text-align: center;
    font-family: $font;
    font-weight: $weight800;
    position: relative;
    margin-bottom: 7vh;
    cursor: default;
  }
  .cardGrid {
    margin-left: 5vh;
    margin-right: 5vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
    gap: 3vh;
    div {
      display: flex;
      justify-content: space-around;
    }
    a {
      text-decoration: none;
      color: inherit;
    }

    @include media(480px) {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}
