@import "../../scss/variables";
@import "../../scss/mixins";

.gridLayout {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 15vh;
  margin-bottom: 15vh;
  margin-right: 3vh;

  .columna1 {
    @include flex(flex, column, center);
    img {
      width: 30vw;
      margin: 0 auto;
    }
  }

  .columna2 {
    display: flex;
    flex-direction: column;
    margin-right: 3vw;
    h1 {
      font-family: $font;
      font-size: 45px;
      font-weight: 800;
      text-align: left;
    }

    .category {
      font-family: $font;
      font-weight: 500;
    }

    .price {
      font-family: $font;
      font-weight: 400;
    }

    .descripcion {
      margin-top: 10vh;
      margin-bottom: 10vh;
      text-align: justify;
      h1 {
        font-size: 25px;
      }
      p {
        font-family: $font;
        font-size: 20px;
        margin-top: 2vh;
      }
    }

    .buttonCart {
      margin-bottom: 0;
      button {
        text-transform: uppercase;
        border: 0;
        padding: 10px;
        display: inline-flex;
        align-items: center;
        font-family: $font;
        font-weight: 700;
        border-radius: 3px;
        cursor: pointer;
        background-color: #000;
        color: #fff;
        height: 10vh;
      }

      button:hover {
        background-color: #1d1d1d;
      }
    }
  }

  @include media(960px) {
    @include flex(flex, column);
    .columna2 {
      h1 {
        font-size: 25px;
        text-align: left;
      }
      margin-left: 3vw;
      margin-right: 3vw;
      .descripcion {
        margin-top: 5vh;
        text-align: justify;
      }
    }
  }
}
