@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

$font: "Poppins", sans-serif;
//Breakpoints
$breakpoint1: 320px;
$breakpoint2: 480px;
$breakpoint3: 960px;
$breakpoint4: 1328px;

//Grosor fuente
$weight400: 400;
$weight500: 500;
$weight600: 600;
$weight700: 700;
$weight800: 800;

//Colores
$dark: #1d1d1d;
$light: #fff;
$primary: #bdbdbd;
$bg: rgb(244, 244, 255);

// Altura minima del vw
$minHeight: 100vh;

//Espaciados
$spacing-md: 16px;
$spacing-lg: 32px;

// border radius
$borderRadius: 12px;
